black
flake8
flake8-docstrings
gmplot
isort
joblib
matplotlib
motmetrics
mypy
numpy
pandas
pillow
pycocotools
pydantic<2.0.0
pylint
pytest
scikit-image
sphinx
sphinx-rtd-theme
tabulate
toml
tqdm

git+https://github.com/scalabel/scalabel.git
